.cm-header{font-weight:bold}
.cm-strong{font-weight:bold}
.cm-em{font-style:italic}
.CodeMirror-cursor{border-left-color:white !important}
.CodeMirror-selected{background:rgba(255,255,255,0.05)}
.CodeMirror-focused .CodeMirror-selected{background:rgba(255,255,255,0.1)}
.CodeMirror-matchingbracket{border-bottom:1px solid rgba(255,255,255,0.5)}
.CodeMirror-matchingtag{border-bottom:1px solid rgba(255,255,255,0.3)}
.powers{border-bottom:1px solid rgba(255,255,255,0.05)}
.editor-title-button svg{fill:#999}
.editor-title-button:hover svg,.editor-title-button:focus svg{fill:#eee}
.cm-searching{background:black;outline:2px solid rgba(255,255,255,0.25)}
.CodeMirror-hints{border:1px solid #555;background:#333}
.CodeMirror-hint{color:#fff}li.CodeMirror-hint-active{background:#c1c1c1;color:#000}
.project-editor-warning{background:rgba(255,255,255,0.1)}
.cm-comment{color:#65737e}
.cm-atom{color:#c594c5}
.cm-number{color:#c594c5}
.cm-property,.cm-attribute{color:#99c794}
.cm-keyword{color:#ec5f67}
.cm-string{color:#fac863}
.cm-variable{color:#99c794}
.cm-variable-2{color:#6699cc}
.cm-def{color:#f99157}
.cm-error{background:rgba(236,95,103,0.4)}
.cm-bracket{color:#cdd3de}
.cm-tag{color:#ec5f67}
.cm-link{color:#c594c5}body.editor{background:#1B2B34}
.box,.editor .top-boxes,.CodeMirror-gutter-wrapper,body.project .editor-pane,body.project .editor{background:#1B2B34}
.box pre,.editor .top-boxes pre,.CodeMirror-gutter-wrapper pre,body.project .editor-pane pre,body.project .editor pre{color:#CDD3DE}
.CodeMirror-guttermarker-subtle,.CodeMirror-linenumber{color:#5D5D5D}
.CodeMirror-simplescroll-horizontal div,.CodeMirror-simplescroll-vertical div{background:#666666}
.cm-s-base16-dark.CodeMirror { background: #1B2B34; color: #e0e0e0; }